@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    width: 550px;
    height: 550px;
    background-color: #1f2937;
    position: relative;
}
h1 {
    position: absolute;
    width: 360px;
    height: 80px;
    top: 115px;
    left: 52px;
    font-family: Karla;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.5%;
    color: #d5d4d8;
}
h1 span {
    color: #10b981;
}
p {
    position: absolute;
    color: #d5d4d8;
    width: 372px;
    height: 28px;
    top: 205px;
    left: 52px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
button {
    position: absolute;
    width: 191px;
    height: 42px;
    top: 284px;
    left: 52px;
    border: none;
    border-radius: 6px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 15px;
    gap: 12px;
    background-color: #10b981;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}
hr {
    position: absolute;
    width: 446px;
    top: 361px;
    left: 52px;
    border-width: 1px;
    border: 1px solid #2f3e53;
}
.passwords {
    position: absolute;
    height: 39px;
    top: 396px;
    left: 52px;
    display: flex;
    justify-content: space-between;
    width: 440px;
}
.passwords span {
    position: relative;
    background-color: #273549;
    width: 211px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55f991;
    cursor: pointer;
}
.passwords span::after {
    content: "\f0c5";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    right: 10px;
}
.pop-out {
    position: absolute;
    bottom: 20px;
    left: 211px;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #10b981;
    border-radius: 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: Inter;
    display: flex;
    opacity: 0;
}

.pop-out.show {
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 480px) {
    .container {
        width: 550px;
        height: 550px;
        background-color: #1f2937;
        
    }
    hr {
        width: 80%;
        position: absolute;
        left: 10%;
        border-width: 1px;
        border: 1px solid #2f3e53;
    }
    .passwords {
        left: 10%;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .passwords span {
        width: 47%;
        border-radius: 6px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .pop-out {
        position: absolute;
        bottom: 20px;
        left: 40%;
        transform: translateX(-40%);
    }
}
